@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'),
    url(/src/fonts/NotoSansKR-Regular-Hestia.eot),
    url(/src/fonts/NotoSansKR-Regular-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/src/fonts/NotoSansKR-Regular-Hestia.woff) format('woff'),
    url(/src/fonts/NotoSansKR-Regular-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: medium;
    font-weight: 500;
    src: local('Noto Sans Medium'), local('NotoSans-medium'),
    url(/src/fonts/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: bold;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),
    url(/src/fonts/NotoSansKR-Bold-Hestia.eot),
    url(/src/fonts/NotoSansKR-Bold-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/src/fonts/NotoSansKR-Bold-Hestia.woff) format('woff'),
    url(/src/fonts/NotoSansKR-Bold-Hestia.otf) format('opentype');
}